.player img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    cursor: pointer;
  }
  
  .player iframe {
   right: 20%;
    border-radius: 10px;
    width: 80vw; /* Set width to 100% of viewport width */
  height: 90vh; 
  top:50px;
  margin-left: 10%;
  margin-right: 4%;
  }
  
  .player-info {
    display: flex;
    align-items: center;
  }
  @media (max-width: 768px) {
    
    .player iframe {
      width: 90vw; 
      height: 70vh; 
      margin-left: 5%;
      margin-right: 5%;
    }
  }